<div class="container">
  <div *ngIf="hero">
    <h2>{{ hero.name | uppercase }} Details</h2>
    <div><span>id: </span>{{ hero.id }}</div>

    <mat-form-field class="example-full-width" appearance="fill">
      <label for="hero-name">Hero name: </label>
      <label>{{ hero.name }}</label>
    </mat-form-field>

    <div>
      <span
        ><label>Money: </label> <label>{{ hero.money }}</label></span
      ><br />
      <span
        ><label>Lives: </label> <label>{{ hero.life }}</label></span
      ><br />
      <span
        ><label>Strenght: </label> <label>{{ hero.strenght }}</label></span
      ><br />
    </div>

    <div color="primary" class="items" *ngFor="let item of hero.items">
      <app-item-detail
        mat-stroked-button
        color="secondary"
        [item]="item"
        (deleteEvent)="sellItem(item)"
      ></app-item-detail>
    </div>
  </div>
  <button mat-raised-button color="primary" class="buttons" (click)="click()">
    <a routerLink="/free-items/{{ hero.id }}">Buy Item</a>
  </button>
  <button class="buttons" mat-flat-button color="primary" (click)="goBack()">
    go back
  </button>
  <button class="buttons" mat-flat-button color="primary" (click)="save()">
    save
  </button>
</div>
