<div class="itemDetail" *ngIf="item; of: items">
  <p></p><br>
  <h2>{{ item.name | uppercase }} Details</h2>
  <div>
    <label for="item-name">Item name: </label>
    <label>{{ item.name }}</label>
  </div>
  <div id="itemId"><span>id: </span>{{ item.id }}</div>
  <div for="itemPrice">
    <span>price: </span><label>{{ item.price }}</label>
  </div>

  <button class="btn" mat-stroked-button color="primary" (click)="save()">
    SAVE
  </button>
  <button
    class="btn"
    mat-stroked-button
    color="secondary"
    *ngIf="!item.isAvailable"
    (click)="callParrentDelete()"
  >
    SALE
  </button>
</div>
